# Bỏ qua thư mục build
/dist

# Bỏ qua thư viện cài bằng npm/yarn
/node_modules

# File cấu hình môi trường
.env
.env.*.local

# Log file
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code settings (nếu không muốn chia sẻ config cá nhân)
.vscode/

# MacOS hệ thống
.DS_Store

# Optional - nếu bạn build SSR hay deploy tự động
*.local
*.cache
*.temp
*.bak
